@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Hanken Grotesk", sans-serif;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.details {
    background-color: #f3f3f3;
}
.grid {
    background-color: white;
}
.about {
    background-color: #e5e5e5;
}
.contact {
    background-color: #e5e5e5;
}
.article {
    background-color: white;
}
.active {
    background-color: white;
    padding: 2px 4px;
    border-radius: 15px;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  top:0px;
  left:0px;
  padding: 0 var(--margin-general);
  height: 90px;
  z-index: 3000;
}
.nav-header {
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  color: #303030;
}
.navlinks-container {
  display: flex;
  gap: 40px;
  margin-left: auto;
  font-size: 14px;
  font-weight: 600;
}
.navlinks-container a {
  padding: 2px 10px;
  color: #afafaf;
  text-decoration: none;
  transition: color 0.35s ease, transform 0.35s ease;
}
.navlinks-container a:hover {
  transform: translateY(-3px);
  color: #303030;
}
.hamburger {
  display: none;
}
.open {
  transform: translateX(0%);
}
.instagram-logo {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 10;
    width: 1.9%;
    min-width: 25px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block;
    filter: brightness(1.7) saturate(0);
    
}

.instagram-logo:hover {
    filter: none;
}
/*---------------- LIST & GRID MENU STYLE----------------------*/

.svg-container {
    margin-top: 100px;
    width: 100%;
    padding: 0 var(--margin-general); /* Espacement horizontal du menu */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    z-index: 2000;
    align-items: center; /* Centre les icônes verticalement */
    justify-content: flex-end; /* Aligne les SVG à droite du conteneur */
    gap: 13px; /* Espace entre les SVG */
    
}
.svg-container a:hover img {
    filter: brightness(0); /* Assombrit le SVG au survol */
    transform: scale(1.025) translateY(-1px);
}
.svg-container a img{
    height: 10px; 
    width: auto;
    transition: transform 0.3s ease;
}

/*----------------SVG PAGES STYLE----------------------*/

.svg-container-pages {
    width: 100%;
    padding : 0 var(--margin-general); 
    position: fixed;
    box-sizing: border-box; /* Assure que le padding ne pousse pas le conteneur à dépasser de la largeur totale */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 90px;
    left:0px;
    height: 35px;
    z-index: 2100;
}

.svg-container-pages a img{
    height: 10px; /* Augmentez la taille de l'image SVG pour la rendre plus visible */
    width: auto;
    transition: transform 0.3s ease;
}

.svg-container-pages a:hover img{
    transform: translateX(-7px); /* Déplace la flèche vers la gauche */
    filter: brightness(0); /* Change la luminosité de l'image */
}

@media(max-width: 600px) {
    .navlinks-container {
        gap: 2px;
    }
    .navlinks-container a {
        font-size: 13px;
    }
    .instagram-logo {
        display: none;
    }
    .svg-container {
        margin-top: 100px;
    }
    .svg-container-pages {
        padding: 20px var(--margin-general);
        display: none;
    }
    .instagram-logo {opacity:0;pointer-events: none;}
}

@media(max-width: 470px) {
  /* hamburger */

  .nav-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
  .instagram-logo {opacity:0;pointer-events: none;}
  .hamburger {
    margin-left: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: transparent;
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #303030;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
    .navlinks-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    top: 100%;
    right: 0%;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    padding: 15px 20px 15px 20px;
  }
  .navlinks-container.open {
    transform: translateX(0%);
  }
  .navlinks-container a {
    font-size: 1.3rem;
    background: transparent;
    padding: 1rem;
  }
  .navlinks-container a:hover {
  transform: translate(0px);
  }
  .navlinks-container a:active {
  text-decoration: underline;
    color: #303030;
  }