:root {
    --margin-general: 8%;
}

@media (max-width: 768px) { /* Smartphone ou petit écran */
    :root {
        --margin-general: 4%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {/* Tablettes (iPad, etc.) */
    :root {
        --margin-general: 6%;
    }
}

